STORYHUB_GATEWAY_URL=http://103.147.92.134:4097
STORYHUB_AUTH_SERVICE_URL=http://103.147.92.134:4197
STORYHUB_IMAGE_URL=http://103.147.92.134:4297/image
STORYHUB_AUTH_IMAGE_URL=http://103.147.92.134:4197/image
STORYHUB_IMAGE_BASE_PATHS=/api/image,/image,/images,/uploads,/assets
PORT=4173
VITE_MIDTRANS_SNAP_URL=https://app.midtrans.co/snap/snap.js
VITE_MIDTRANS_CLIENT_KEY=
